/*h2{
    color: rgb(6, 43, 21)
}
button{
    margin left:200px;
    /*padding:0 50px;*/
    /*padding:20px 0 30px 10px;
    padding:30px;

}
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue
}


header{
    background-color: black;

    padding:30px
}

main{
    background-color: beige;
    max-width:900px;
    min-height:400px;
    margin:30px auto;
    border:1px solid rgb(207, 38, 38);
}
footer{
    background-color: black;
    color:beige;
    padding:25px;
    text-align:center;

}